# -------------------------------------------------------------------------
# Terraform Gitignore
# -------------------------------------------------------------------------

# 테라폼 프로바이더 플러그인 및 모듈이 설치되는 로컬 숨김 폴더 (절대 올리지 않음)
**/.terraform/*

# 테라폼 상태 파일 및 백업 파일 (민감 정보 포함, S3에서 관리하므로 절대 올리지 않음)
*.tfstate
*.tfstate.*

# 테라폼 실행 계획 파일 (plan 결과를 파일로 저장했을 경우)
*.tfplan
tfplan
tfplan-*

# 민감한 환경 변수가 들어갈 수 있는 tfvars 파일 (절대 올리지 않음)
*.tfvars
*.tfvars.json
*.auto.tfvars

# 테라폼 크래시 로그
crash.log
crash.*.log